  <div id="welcome">Welcome to The Dynamic Gif Library Chat Room, enable camera to post video emoji!</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <div id="conversation"></div>
  <div id="submission">
    <input type="text" placeholder="say something..">
  </div>
  <div id="webcam_stream"></div>
  <div id="library">
 <h1> Emoji Library </h1>
  <input type="button" value="add new emoji" id="new">
  </div>
  <div id="video_container"></div>